{% extends 'base.html.twig' %}

{% block title %}Ajouter/éditer un centre de formation{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="titleBlock"> 
        <h2>Ajouter/éditer un centre de formation</h2>
    </div>
    
    <div class="formWrapper">
        {{ form_start(centreFormType) }}
            {{ form_row(centreFormType.nomCentre) }}
            {{ form_row(centreFormType.region) }} 
            {{ form_row(centreFormType.ville) }} 
            {{ form_row(centreFormType.codePostal) }}         
        {{ form_end(centreFormType) }}
    </div>
{% endblock %}