{% extends 'base.html.twig' %}

{% block title %}Ajouter/éditer une session{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="titleBlock"> 
        <h2>Ajouter une session</h2>
    </div>
    <div class="formWrapper">
        {{ form_start(sessionFormType) }}
            {{ form_row(sessionFormType.nbPlace) }}
            {{ form_row(sessionFormType.dateDebut) }}
            {{ form_row(sessionFormType.dateFin) }}
            {{ form_row(sessionFormType.intitule) }}
            {{ form_row(sessionFormType.salle) }}
            {{ form_row(sessionFormType.formateur) }}    
        {{ form_end(sessionFormType) }}
    </div>

    <a class="addButton" href="{{ path('session_list') }}"><i class="fas fa-arrow-left"></i>Retour à la liste</a>
{% endblock %}