{% extends 'base.html.twig' %}

{% block title %}Liste des centres {% endblock %}

{% block body %}
    <div class="titleBlock">
        <h1>Liste des centres</h1>
    </div>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th> Centre</th>
                <th> Région </th>
                <th> Commune </th>
                {% if app.user.hasRole("ROLE_SUPER_ADMIN")%}
                    <th> Edition </th>
                    <th> Suppression </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for centre in centres %}
                <tr>
                    <td><a href="{{ path('centre_show', {'id':centre.id}) }}">{{ centre.nomCentre}}</a></td>
                    <td> {{ centre.region }} </td>
                    <td> {{ centre.ville }} ({{ centre.codePostal }}) </td>
                        <td><a class="uk-button uk-button-primary" href="{{ path('centre_edit', {'id':centre.id}) }}"><i class="fas fa-pen"></i></a></td>
                        <td><a class="uk-button uk-button-primary" href="{{ path('centre_delete', {'id':centre.id}) }}"><i class="fas fa-trash"></i></a></td>
                </tr>
            {% endfor %}
                  {% if app.user.hasRole("ROLE_ADMIN") or app.user.hasRole("ROLE_SUPER_ADMIN")%}
                        <span><a class="addButton"href="{{ path('centre_add')}}"><i class="fas fa-plus"></i>Ajouter un centre</i></a></span>
                  {% endif %}
{% endblock %}