{% extends 'base.html.twig' %}

{% block title %}Liste des modules {% endblock %}

{% block body %}
    <div class="titleBlock">
        <h1>Liste des modules</h1>
    </div>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th> Modules </th>
                <th> Programme </th>
                {% if app.user.hasRole("ROLE_ADMIN") or app.user.hasRole("ROLE_SUPER_ADMIN")%}
                    <th> Edition </th>
                    <th> Suppression </th>
                {% endif %} 
            </tr>
        </thead>
        <tbody>
           {% set verif = 0 %}
                
                {% for module in modules %}
                <tr>
                    {% if verif != module.categorie.id %}
                    <th>
                        {% set verif = module.categorie.id %}
                        Catégorie : {{ module.categorie.nom }}
                    </th>                                   
                    {% endif %}       
                <tr>
                    <td><a href="{{ path('module_show', {'id':module.id}) }}">{{ module.intitule }} </a></td>
                    <td>Apparait dans :<br>
                        {% for programme in module.programmes %}
                            <span><a href="{{ path('session_show', {'id':programme.session.id}) }}"> - {{ programme.session.intitule }}</span><br>
                        {% else %}
                            aucune session.
                        {% endfor %}
                    </td>
                    {% if app.user.hasRole("ROLE_ADMIN") or app.user.hasRole("ROLE_SUPER_ADMIN")%}
                        <td><a class="uk-button uk-button-primary" href="{{ path('module_edit', {'id':module.id}) }}"><i class="fas fa-pen"></i></a></td>
                        <td><a class="uk-button uk-button-primary" href="{{ path('module_delete', {'id':module.id}) }}"><i class="fas fa-trash"></i></a></td>
                    {% endif %}
                </tr>
                    {% endfor %}
                    {% if app.user.hasRole("ROLE_ADMIN") or app.user.hasRole("ROLE_SUPER_ADMIN")%}
                        <span><a class="addButton"href="{{ path('module_add')}}"><i class="fas fa-plus"></i>Ajouter un module</i></a></span>
                        <span><a class="addButton"href="{{ path('categorie_add')}}"><i class="fas fa-plus"></i>Ajouter une catégorie</i></a></span>
                    {% endif %}
                    <div class="pagination">{{ knp_pagination_render(modules) }}</div>
{% endblock %}
