{% extends 'base.html.twig' %}
 
{% block title %}Informations personnelles{% endblock %}
 
{% block body %}
<div class="z-depth-2"> 
    <i class="far fa-user" id="icon"></i>
<div class="titleBlock">
    <h2 class="infostagiaire">{{ app.user.username }}</h2>
</div>
    <ul>
        <li> Rôle(s) :
            <ul>
                {% for role in user.roles %} 
                    <li>{{ role }}</li>
                {% endfor %}
            </ul> <br>
        </li>
        <li> Compte crée le : {{ user.dateCreation | date ('d/m/Y H:i')}}</li>
        <li> Né(e) le : {{ user.dateNaissance | date ('d/m/Y')}}</li>
        <li> e-mail : {{ user.email }} </li>
    </ul>  
    {# {% if app.user.hasRole("ROLE_SUPER_ADMIN") %}
        <a class="waves-effect waves-light btn grey darken-4grey darken-4" href="{{ path('user_', {'id':app.user.id}) }}"><i class="fab fa-critical-role"></i>Changer rôle</a>
    {% endif %}

    <a class="waves-effect waves-light btn grey darken-4grey darken-4" href="{{ path('user_delete', {'id':app.user.id}) }}"><i class="fas fa-user-minus"></i>Supprimer</a></button> #}
</div>
{% endblock %}
