{% extends 'base.html.twig' %}
 
{% block title %}Informations personnelles{% endblock %}
 
{% block body %}
<a class="addButton" href="{{ path('stagiaire_list') }}"><i class="fas fa-arrow-left"></i> Liste stagiaires</a>

<div class="titleBlock">
    <h3 class="infostagiaire"><i class="far fa-user" id="icon"></i>Fiche stagiaire</h3>
</div>
<div class="z-depth-2">     
    <h3>{{ stagiaire.nom ~' '~ stagiaire.prenom}}</h3>
    <ul>
        <li>Né(e) le : {{ stagiaire.dateNaissance | date ('d/m/Y')}}</li>
        <li> 
            Sexe : {% if stagiaire.sexe == 1 %}
                M 
            {% elseif stagiaire.sexe == 0 %}
                F 
            {% endif %}
        </li>
        <li> Ville : {{ stagiaire.ville }} </li>
        <li> Adresse : {{ stagiaire.adresse }} </li> 
        <li> E-mail : {{ stagiaire.email }} </li>
        <li> Tél. : {{ stagiaire.telephone }} </li> 
    </ul>
    <ul> Inscrit(e) aux sessions suivantes :
            {% for session in stagiaire.getSession() %}
                <li><a id="blacklink" href="{{ path('session_show', {'id':session.id}) }}">{{ session.intitule }}</a></li>
            {% else %}
            aucune session.
            {% endfor %}
        </ul>
    <a class="waves-effect waves-light btn grey darken-4grey darken-4" href="{{ path('stagiaire_edit', {'id':stagiaire.id}) }}">Editer</a>          
    <a class="waves-effect waves-light btn grey darken-4grey darken-4" href="{{ path('stagiaire_delete', {'id':stagiaire.id}) }}">Supprimer</a></button>
</div>
    
{% endblock %}

