{% extends 'base.html.twig'%}

{% block title %}Rechercher un stagiaire{% endblock %}

{% block body %}
   
  <div class="titleBlock">
      <h1>Rechercher un(e) stagiaire</h1>
  </div>

  <div class="form-group">
  {{ form_start(searchForm) }}
  {{ form_row(searchForm.nom, {'label': " ", 'attr': {'placeholder': 'Nom de famille stagiaire'}}) }}
  <button class="uk-button uk-button-primary">Rechercher</button>
  {{ form_end(searchForm) }}

  <section id="content">

          {% for stagiaire in stagiaires %}
          <article>
          <div class="card border-light mb-3" id="stagiaireSearch" style="max-width: 25rem;margin:1.5em;">
              <div class="card-header">

                  <h3>{{ stagiaire.nom }}</h3>

              </div>
              <div class="card-body">
                <h4 class="card-title"Nom complet {{ stagiaire.prenom }} {{ stagiaire.nom }} </h4>
                <p class="card-text">
                  Email: {{ stagiaire.email | slice(0, 170) | raw }}
                  Inscrit(e) à: {{ stagiaire.email | slice(0, 170) | raw }}   
                </p>
                <a href="{{ path('stagiaire_show', {'id': stagiaire.id}) }}" class="btn btn-primary">Détails</a>
              </div>
            </div>
          </article>
      {% endfor %}

      </section>

      
          <div class="pagination">
            {{ knp_pagination_render(stagiaires) }}
          </div>
{% endblock %}