{% extends 'base.html.twig' %}

{% block title %}Ajouter/éditer une session{% endblock %}

{% block body %}
    <div class="titleBlock">
        <h3 class="infostagiaire"><i class="fas fa-info-circle"></i>Session {{ session.intitule }}</h3>
    </div>
        
        <div id="session" class="z-depth-2">
            <h3> Détails de la session {{ session.intitule }}</h3>
            <ul>
                <li> Places théoriques :{{ session.nbPlace }} </li>
                <li> Places restantes : {{ session.nbPlace - session.stagiaires | length }} </li>
                <li> Places réservées : {{ session.stagiaires | length }} </li>
                <li> Date: {{ session.dateDebut | date ('d/m/Y') }} - {{ session.dateFin | date ('d/m/Y') }} </li>
                <li> Durée programmée : {{ session.finalDuration }} jours</li>
                <li> Durée programmées actuelles : {{ session.actualDuration }} jours</li>
                <li> Formateur réferent : {{ session.formateur.prenom }} {{ session.formateur.nom }} </li>
            </ul>

            <h4>Liste des inscrit(e)s :</h4>
            <table class="uk-table uk-table-striped">
            {% if session.stagiaires|length > 0 %}
                <thead>
                    <tr>                           
                        <th> Stagiaires </th>
                        <th> Désinscrire </th>                        
                    </tr>
                </thead>
                {% endif %}
                <tbody>
                {% for stagiaire in session.stagiaires %}
                    <tr>
                        <td><a id ="sessionItems" href="{{ path('stagiaire_show', {'id':stagiaire.id}) }}"> - {{ stagiaire.prenom ~' '~ stagiaire.nom }}</a></td>
                        <td><a href="{{ path('stagiaire_remove', {'id':stagiaire.id}) }}"><i class="fas fa-user-minus"></i></a></td>
                {% else %}
                    aucune inscription.
                {% endfor %}
                    </tr>
                </tbody>
                {% if app.user.hasRole("ROLE_ADMIN") or app.user.hasRole("ROLE_SUPER_ADMIN")%}                       
                    <td><a class="whiteLink" href="{{ path('stagiaire_session_add', {'id':session.id}) }}"><i class="fas fa-plus"></i> Ajouter un(e) stagiaire </a></td>
                {% endif %}
            <table class="uk-table uk-table-striped">
            {% if session.programmes|length > 0 %}
                <thead>
                    <tr>                          
                        <th> Modules prévus </th>
                        <th> Déprogrammer </th>
                    </tr>                           
                </thead>
                <tbody>
                    {% for programme in session.programmes %}
                        <tr>
                            <td><a id ="sessionItems" href="{{ path('module_show', {'id':programme.module.id}) }}">{{ programme.module.intitule }} ({{ programme.nbJour }} jours)</td>
                            {% if app.user.hasRole("ROLE_ADMIN") or app.user.hasRole("ROLE_SUPER_ADMIN")%}                       
                                <td><a id ="sessionIcons" href="{{ path('module_remove', {'id':programme.module.id}) }}"><i class="fas fa-trash"></a></td>
                            {% endif %}
                        </tr>                      
                    {% endfor %}
                {% else %}
                    Aucun module n'est actuellment programmé                       
            {% endif %}
            {% if app.user.hasRole("ROLE_ADMIN") or app.user.hasRole("ROLE_SUPER_ADMIN")%}                       
                <td><a class="whiteLink" href="{{ path('module_session_add', {'id':session.id}) }}"><i class="fas fa-plus"></i> Ajouter un module </a></td>
            {% endif %}
            </table>
        </div>
        <a class="addButton" href="{{ path('session_list') }}"><i class="fas fa-arrow-left"></i>Retour aux sessions</a>
{% endblock %}