{% extends 'base.html.twig' %}

{% block title %}Ajouter/éditer un module{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="titleBlock"> 
        <h2>Ajouter/éditer un module</h2>
    </div>
    <div class="formWrapper">
        {{ form_start(moduleFormType) }}
            {{ form_row(moduleFormType.intitule) }}    
        {{ form_end(moduleFormType) }}
    </div>

    <a class="addButton" href="{{ path('module_list') }}"><i class="fas fa-arrow-left"></i>Retour à la liste</a>
{% endblock %}